In [68]:
print(1)

1

In [144]:
import numpy as np
import pandas as pd
import random as rd
import matplotlib.pyplot as plt
elo = pd.read_csv('elo.csv')
elo_dict = elo.set_index('Country').T.to_dict('list')
elo_2018 = pd.read_csv('2018_elo.csv')
elo_dict_2018 = elo_2018.set_index('Country').T.to_dict('list')
country1 = ''
country2 = ''
elo1 = 0
elo2 = 0
points = []
winners = []

In [145]:
elo_dict

{'Brazil': [2169],
 'Argentina': [2141],
 'Spain': [2045],
 'Netherlands': [2040],
 'Belgium': [2025],
 'France': [2005],
 'Portugal': [2004],
 'Denmark': [1971],
 'Germany': [1960],
 'Uruguay': [1936],
 'Switzerland': [1929],
 'Croatia': [1922],
 'England': [1920],
 'Serbia': [1892],
 'Ecuador': [1840],
 'Mexico': [1821],
 'Iran': [1817],
 'Poland': [1809],
 'United States': [1798],
 'Japan': [1798],
 'Wales': [1790],
 'South Korea': [1783],
 'Qatar': [1780],
 'Canada': [1770],
 'Morocco': [1753],
 'Costa Rica': [1736],
 'Australia': [1719],
 'Senegal': [1687],
 'Tunisia': [1687],
 'Saudi Arabia': [1640],
 'Cameroon': [1609],
 'Ghana': [1540]}

In [76]:
elo_dict_2018

{'Brazil': [2141],
 'Germany': [2077],
 'Spain': [2044],
 'France': [1986],
 'Argentina': [1985],
 'Portugal': [1969],
 'England': [1948],
 'Belgium': [1938],
 'Columbia': [1927],
 'Peru': [1916],
 'Uruguay': [1893],
 'Switzerland': [1889],
 'Denmark': [1856],
 'Croatia': [1853],
 'Mexico': [1850],
 'Poland': [1831],
 'Sweden': [1795],
 'Iran': [1790],
 'Serbia': [1778],
 'Iceland': [1765],
 'Senegal': [1750],
 'Costa Rica': [1743],
 'Australia': [1741],
 'Morocco': [1733],
 'South Korea': [1713],
 'Nigeria': [1684],
 'Japan': [1684],
 'Russia': [1678],
 'Panama': [1658],
 'Tunisia': [1656],
 'Egypt': [1644],
 'Saudi Arabia': [1585]}

In [77]:
results = pd.read_csv('results.csv')
#results = results.filter(items = ["home_team", "away_team", "home_score", "away_score"])
countries = ["Netherlands", "Senegal", "Ecuador", "Qatar", "England", "USA", "Iran", "Wales", 
             "Argentina", "Mexico", "Poland", "Saudi Arabia", "France", "Denmark", "Tunisia", "Australia",
            "Spain", "Germany", "Japan", "Costa Rica", "Belgium", "Croatia", "Morocco", "Canada",
            "Brazil", "Switzerland", "Serbia", "Cameroon", "Portugal", "Uruguay", "South Korea", "Ghana"]
c1 = 'Croatia'
c2 = 'Austria'
h2h = results[((results.home_team == c1) & (results.away_team == c2)) | ((results.home_team == c2) & (results.away_team == c1))]
h2h

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
23159,4/26/2000,Austria,Croatia,1.0,2.0,Friendly,Vienna,Austria,False
23956,2/28/2001,Croatia,Austria,1.0,0.0,Friendly,Rijeka,Croatia,False
28596,5/23/2006,Austria,Croatia,1.0,4.0,Friendly,Vienna,Austria,False
30610,6/8/2008,Austria,Croatia,0.0,1.0,UEFA Euro,Vienna,Austria,False
32367,5/19/2010,Austria,Croatia,0.0,1.0,Friendly,Klagenfurt,Austria,False
43675,6/3/2022,Croatia,Austria,0.0,3.0,UEFA Nations League,Osijek,Croatia,False
43998,9/25/2022,Austria,Croatia,1.0,3.0,UEFA Nations League,Vienna,Austria,False

In [78]:
matches = pd.read_csv("international_matches.csv")
matches

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [79]:
matches.dtypes

date                              object
home_team                         object
away_team                         object
home_team_continent               object
away_team_continent               object
home_team_fifa_rank                int64
away_team_fifa_rank                int64
home_team_total_fifa_points        int64
away_team_total_fifa_points        int64
home_team_score                    int64
away_team_score                    int64
tournament                        object
city                              object
country                           object
neutral_location                    bool
shoot_out                         object
home_team_result                  object
home_team_goalkeeper_score       float64
away_team_goalkeeper_score       float64
home_team_mean_defense_score     float64
home_team_mean_offense_score     float64
home_team_mean_midfield_score    float64
away_team_mean_defense_score     float64
away_team_mean_offense_score     float64
away_team_mean_midfield_score    float64
dtype: object

In [80]:
matches["home_team_goalkeeper_score"].unique

<bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
23916    65.0
23917     NaN
23918    79.0
23919    73.0
23920    75.0
Name: home_team_goalkeeper_score, Length: 23921, dtype: float64>

In [81]:
matches.fillna(-1)

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,-1.0,65.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,-1.0,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,-1.0,73.0,80.0,73.8,-1.0,79.3,70.8

In [82]:
matches

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [83]:
allStats = matches[((matches["home_team_goalkeeper_score"] > -1) & (matches["away_team_goalkeeper_score"] > -1) & (matches["home_team_mean_defense_score"] > -1) & (matches["home_team_mean_offense_score"] > -1) & (matches["home_team_mean_midfield_score"] > -1) & (matches["away_team_mean_defense_score"] > -1) & (matches["away_team_mean_offense_score"] > -1) & (matches["away_team_mean_midfield_score"] > -1))]

In [84]:
allStats

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
8264,2004-09-03,Spain,Scotland,Europe,Europe,3,67,0,0,1,...,No,Draw,94.0,84.0,86.5,89.3,89.5,80.2,79.7,81.8
8266,2004-09-04,Austria,England,Europe,Europe,90,7,0,0,2,...,No,Draw,83.0,88.0,76.2,73.0,74.0,90.5,88.7,91.2
8271,2004-09-04,Croatia,Hungary,Europe,Europe,25,76,0,0,3,...,No,Win,77.0,74.0,80.5,78.7,79.0,71.8,75.7,70.2
8276,2004-09-04,Iceland,Bulgaria,Europe,Europe,80,41,0,0,1,...,No,Lose,78.0,78.0,68.8,77.0,69.2,70.5,79.7,78.5
8278,2004-09-04,Italy,Norway,Europe,Europe,9,38,0,0,2,...,No,Win,97.0,79.0,91.8,92.3,87.5,79.2,81.3,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23909,2022-06-14,Poland,Belgium,Europe,Europe,26,2,1544,1827,0,...,No,Lose,87.0,89.0,75.2,84.7,75.8,80.8,85.7,85.5
23911,2022-06-14,Ukraine,Republic of Ireland,Europe,Europe,27,47,1535,1449,1,...,No,Draw,75.0,75.0,74.8,78.7,80.0,76.5,72.7,73.8
23912,2022-06-14,Bosnia and Herzegovina,Finland,Europe,Europe,59,57,1388,1406,3,...,No,Win,76.0,83.0,74.2,77.0,78.0,70.0,72.3,73.5
23913,2022-06-14,Romania,Montenegro,Europe,Europe,48,70,1446,1342,0,...,No,Lose,77.0,65.0,73.5,73.7,75.0,76.2,74.7,68.2
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2

In [85]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)
allStats["target"] = (allStats["home_team_result"] == "Win").astype("int")
train = allStats.truncate(after=23550)
test = allStats.truncate(before=23551)
predictors = ["home_team_fifa_rank", "away_team_fifa_rank", "home_team_total_fifa_points", "away_team_total_fifa_points", "away_team_goalkeeper_score", "home_team_mean_defense_score", "home_team_mean_offense_score", "away_team_mean_defense_score", "away_team_mean_offense_score", "away_team_mean_midfield_score"]
rf.fit(train[predictors], train["target"])

C:\Users\yashd\AppData\Local\Temp/ipykernel_17488/2175810203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allStats["target"] = (allStats["home_team_result"] == "Win").astype("int")

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [86]:
preds = rf.predict(test[predictors])
from sklearn.metrics import accuracy_score
error = accuracy_score(test["target"], preds)
error

0.696

In [87]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted   0   1
actual
0          50  19
1          19  37

In [88]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)

0.6607142857142857

In [89]:
preds

array([0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0])

In [90]:
def getCountry():
    return input("Enter Country: ")

In [91]:
def getElo(country):
    return elo_dict[country][0]

In [92]:
def get2018Elo(country):
    return elo_dict_2018[country][0]

In [93]:
def getOdds(elo1, elo2):
    odds = 1 / (pow(10,(-(elo1-elo2)/600)) + 1)
    return odds

In [123]:
def simulate(elo1, elo2):
    prob1 = getOdds(elo1, elo2)
    rand = np.random.rand(1)
    draw_odds = 0
    if prob1 < .55:
        draw_odds = 1.38
    elif prob1 < .6:
        draw_odds = 1.34
    elif prob1 < .65:
        draw_odds = 1.27
    elif prob1 < .7:
        draw_odds = 1.24
    elif prob1 < .75:
        draw_odds = 1.21
    elif prob1 < .8:
        draw_odds = 1.18
    elif prob1 < .85:
        draw_odds = 1.15
    elif prob1 < .9:
        draw_odds = 1.12
    else:
        draw_odds = 1.09
    if rand < draw_odds*prob1 and rand > (2-draw_odds)*prob1:
        return .5
    elif rand < prob1:
        return 1
    else:
        return 0

In [124]:

# def monte_carlo(n):

#     results = 0
#     c1 = 0
#     c2 = 0
#     tie = 0
#     for i in range(n):
#         match_result = simulate(elo1,elo2)
        
            
#         if match_result == .5:
#             tie = tie + 1
#         elif match_result == 1:
#             c1 = c1 + 1
#         else:
#             c2 = c2 + 1
            
#         results = results + match_result
        
#         prob_value = results/(i+1)
#         list1.append(prob_value)
# #         plt.axhline(y=getOdds(elo1,elo2), color='r', linestyle='-')
# #         plt.xlabel("Iterations")
# #         plt.ylabel("Probability")
# #         plt.plot(list1)

#     print(f"{country1} Win: {c1/(n/100)}%\n{country2} Win: {c2/(n/100)}%\nDraw: {tie/(n/100)}%")
#     return results/n

In [125]:
def monte_carlo_sim(n):
    results = 0
    c1 = 0
    c2 = 0
    tie = 0
    for i in range(n):
        match_result = simulate(elo1,elo2)
        
            
        if match_result == .5:
            tie = tie + 1
        elif match_result == 1:
            c1 = c1 + 1
        else:
            c2 = c2 + 1
            
        results = results + match_result
        
        prob_value = results/(i+1)
        list1.append(prob_value)
#         plt.axhline(y=getOdds(elo1,elo2), color='r', linestyle='-')
#         plt.xlabel("Iterations")
#         plt.ylabel("Probability")
#         plt.plot(list1)

    #print(f"{country1} Win: {c1/(n/100)}%\n{country2} Win: {c2/(n/100)}%\nDraw: {tie/(n/100)}%")
    if c1 > c2 and c1 > tie:
        points[country1] = points[country1] + 3
        return 3
    elif tie > c1 and tie > c2:
        points[country1] = points[country1] + 1
        points[country2] = points[country2] + 1
        return 1
    else:
        points[country2] = points[country2] + 3
        return 0

In [146]:
def monte_carlo_knockout(n):
    results = 0
    c1 = 0
    c2 = 0
    tie = 0
    for i in range(n):
        match_result = simulate(elo1,elo2)
        
            
        if match_result == .5:
            tie = tie + 1
        elif match_result == 1:
            c1 = c1 + 1
        else:
            c2 = c2 + 1
            
        results = results + match_result
        
        prob_value = results/(i+1)
        list1.append(prob_value)
#         plt.axhline(y=getOdds(elo1,elo2), color='r', linestyle='-')
#         plt.xlabel("Iterations")
#         plt.ylabel("Probability")
#         plt.plot(list1)

    #print(f"{country1} Win: {c1/(n/100)}%\n{country2} Win: {c2/(n/100)}%\nDraw: {tie/(n/100)}%")
    if c1 > c2:
        winners.append(country1)
        return 3
    else:
        winners.append(country2)
        return 0

In [126]:
list1 = []
# country1 = ''
# country2 = ''
# elo1 = 0
# elo2 = 0
# country1 = getCountry()
# country2 = getCountry()
# elo1 = getElo(country1)
# elo2 = getElo(country2)
# answer = monte_carlo(10000)

In [127]:
matches = [('A', 'Qatar', 'Ecuador'), ('A', 'Qatar', 'Senegal'), ('A', 'Qatar', 'Netherlands'), ('A', 'Senegal', 'Ecuador'),
          ('A', 'Senegal', 'Netherlands'), ('A', 'Netherlands', 'Ecuador'), ('B', 'England', 'Wales'), 
          ('B', 'England', 'Iran'), ('B', 'England', 'United States'), ('B', 'Iran', 'Wales'), ('B', 'United States', 'Iran'), 
           ('B', 'Wales', 'United States'), ('C', 'Argentina', 'Saudi Arabia'), ('C', 'Poland', 'Saudi Arabia'), 
          ('C', 'Mexico', 'Saudi Arabia'), ('C', 'Argentina', 'Mexico'), ('C', 'Argentina', 'Poland'), 
          ('C', 'Poland', 'Mexico'), ('D', 'Denmark', 'Tunisia'), ('D', 'France', 'Tunisia'), ('D', 'Australia', 'Tunisia'),
          ('D', 'Denmark', 'France'), ('D', 'Denmark', 'Australia'), ('D', 'France', 'Australia'),
          ('E', 'Germany', 'Japan'), ('E', 'Germany', 'Spain'), ('E', 'Germany', 'Costa Rica'), ('E', 'Spain', 'Japan'), 
          ('E', 'Costa Rica', 'Japan'), ('E', 'Costa Rica', 'Spain'), ('F', 'Morocco', 'Belgium'), ('F', 'Morocco', 'Croatia'), 
          ('F', 'Morocco', 'Canada'), ('F', 'Croatia', 'Belgium'), ('F', 'Canada', 'Belgium'), ('F', 'Croatia', 'Canada'), 
          ('G', 'Switzerland', 'Cameroon'), ('G', 'Switzerland', 'Brazil'), ('G', 'Switzerland', 'Serbia'), 
          ('G', 'Brazil', 'Cameroon'), ('G', 'Serbia', 'Cameroon'), ('G', 'Serbia', 'Brazil'), ('H', 'Uruguay', 'Portugal'),
          ('H', 'Uruguay', 'South Korea'), ('H', 'Uruguay', 'Ghana'), ('H', 'South Korea', 'Portugal'), 
          ('H', 'Ghana', 'Portugal'), ('H', 'Ghana', 'South Korea')]

In [128]:
# import pickle
# from operator import itemgetter
# import ssl

# ssl._create_default_https_context = ssl._create_unverified_context
# dfs = pd.read_html(r"https://en.wikipedia.org/wiki/2022_FIFA_World_Cup#Teams")
# matches = []
# group_names = ["A", "B", "C", "D", "E", "F", "G", "H"]
# group_count = 0 

# table = {}
# dfs
# # table[group_names[group_count]] = [[a.split(" ")[0], 0, []] for a in list(dfs[11].iloc[:, 1].values)]

# # for i in range(12, 67, 1):
# #     if len(dfs[i].columns) == 3:
# #         team_1 = dfs[i].columns.values[0]
# #         team_2 = dfs[i].columns.values[-1]
        
# #         matches.append((group_names[group_count], team_1, team_2))
# #     else:
# #         group_count+=1
# #         table[group_names[group_count]] = [[a, 0, []] for a in list(dfs[i].iloc[:, 1].values)]
# # table

In [129]:
def make_group_dict(table):

    group_dict = {"A": [],  "B": [], "C": [], "D": [], "E": [], "F": [], "G": [] , "H": []}

    for i in group_dict:
 
        group_dict[i].append(table[i][0][0])
        group_dict[i].append(table[i][1][0])
        group_dict[i].append(table[i][2][0])
        group_dict[i].append(table[i][3][0])
    return group_dict

In [130]:
def simulate_wc(matches, points):
    for i in matches:

        list1.clear()
        country1 = i[1]
        country2 = i[2]
        elo1 = getElo(country1)
        elo2 = getElo(country2)
        res = monte_carlo_sim(10000)
        if res == 3:
            points[country1] = points[country1] + 3
            #print(country1 + ' beat ' + country2)
        elif res == 1:
            points[country1] = points[country1] + 1
            points[country2] = points[country2] + 1
            #print(country1 + ' tied ' + country2)
        else:
            points[country2] = points[country2] + 3
            #print(country2 + ' beat ' + country1)

In [131]:
group_dict = make_group_dict(table)
group_dict['A']

KeyError: 'A'

In [132]:
matches

[('A', 'Qatar', 'Ecuador'),
 ('A', 'Qatar', 'Senegal'),
 ('A', 'Qatar', 'Netherlands'),
 ('A', 'Senegal', 'Ecuador'),
 ('A', 'Senegal', 'Netherlands'),
 ('A', 'Netherlands', 'Ecuador'),
 ('B', 'England', 'Wales'),
 ('B', 'England', 'Iran'),
 ('B', 'England', 'United States'),
 ('B', 'Iran', 'Wales'),
 ('B', 'United States', 'Iran'),
 ('B', 'Wales', 'United States'),
 ('C', 'Argentina', 'Saudi Arabia'),
 ('C', 'Poland', 'Saudi Arabia'),
 ('C', 'Mexico', 'Saudi Arabia'),
 ('C', 'Argentina', 'Mexico'),
 ('C', 'Argentina', 'Poland'),
 ('C', 'Poland', 'Mexico'),
 ('D', 'Denmark', 'Tunisia'),
 ('D', 'France', 'Tunisia'),
 ('D', 'Australia', 'Tunisia'),
 ('D', 'Denmark', 'France'),
 ('D', 'Denmark', 'Australia'),
 ('D', 'France', 'Australia'),
 ('E', 'Germany', 'Japan'),
 ('E', 'Germany', 'Spain'),
 ('E', 'Germany', 'Costa Rica'),
 ('E', 'Spain', 'Japan'),
 ('E', 'Costa Rica', 'Japan'),
 ('E', 'Costa Rica', 'Spain'),
 ('F', 'Morocco', 'Belgium'),
 ('F', 'Morocco', 'Croatia'),
 ('F', 'Morocco', 'Canada'),
 ('F', 'Croatia', 'Belgium'),
 ('F', 'Canada', 'Belgium'),
 ('F', 'Croatia', 'Canada'),
 ('G', 'Switzerland', 'Cameroon'),
 ('G', 'Switzerland', 'Brazil'),
 ('G', 'Switzerland', 'Serbia'),
 ('G', 'Brazil', 'Cameroon'),
 ('G', 'Serbia', 'Cameroon'),
 ('G', 'Serbia', 'Brazil'),
 ('H', 'Uruguay', 'Portugal'),
 ('H', 'Uruguay', 'South Korea'),
 ('H', 'Uruguay', 'Ghana'),
 ('H', 'South Korea', 'Portugal'),
 ('H', 'Ghana', 'Portugal'),
 ('H', 'Ghana', 'South Korea')]

[('A', 'Qatar', 'Ecuador'),
 ('A', 'Senegal', 'Netherlands'),
 ('A', 'Qatar', 'Senegal'),
 ('A', 'Netherlands', 'Ecuador'),
 ('A', 'Ecuador', 'Senegal'),
 ('A', 'Netherlands', 'Qatar'),

In [133]:
clean_group(table, group)
simulate_group(matches, group, group_a)
print(group_a)

NameError: name 'clean_group' is not defined

In [134]:
points = {}

In [135]:
def determine_qualifiers(points):

IndentationError: expected an indented block (Temp/ipykernel_17488/1009804773.py, line 1)

In [136]:
points = {'Qatar': 0, 'Ecuador': 0, 'Senegal': 0, 'Netherlands': 0, 'England': 0, 'Wales': 0, 'Iran': 0, 'United States': 0,
         'Argentina': 0, 'Saudi Arabia': 0, 'Mexico': 0, 'Poland': 0, 'France': 0, 'Australia': 0, 'Denmark': 0, 'Tunisia': 0,
         'Spain': 0, 'Costa Rica': 0, 'Germany': 0, 'Japan': 0, 'Belgium': 0, 'Canada': 0, 'Morocco': 0, 'Croatia': 0,
         'Brazil': 0, 'Serbia': 0, 'Switzerland': 0, 'Cameroon': 0, 'Portugal': 0, 'Ghana': 0, 'Uruguay': 0, 'South Korea': 0}
for i in matches:
    country1 = i[1]
    country2 = i[2]
    elo1 = getElo(country1)
    elo2 = getElo(country2)
    monte_carlo_sim(1000)
points

{'Qatar': 1,
 'Ecuador': 6,
 'Senegal': 1,
 'Netherlands': 9,
 'England': 7,
 'Wales': 1,
 'Iran': 3,
 'United States': 4,
 'Argentina': 9,
 'Saudi Arabia': 0,
 'Mexico': 4,
 'Poland': 4,
 'France': 9,
 'Australia': 1,
 'Denmark': 6,
 'Tunisia': 1,
 'Spain': 9,
 'Costa Rica': 0,
 'Germany': 6,
 'Japan': 3,
 'Belgium': 9,
 'Canada': 1,
 'Morocco': 1,
 'Croatia': 6,
 'Brazil': 9,
 'Serbia': 4,
 'Switzerland': 4,
 'Cameroon': 0,
 'Portugal': 9,
 'Ghana': 0,
 'Uruguay': 6,
 'South Korea': 3}

In [137]:
getOdds(getElo('Mexico'), getElo('Poland'))

0.5115108912177917

In [138]:
getOdds(getElo('Switzerland'), getElo('Serbia'))

0.5354386641630193

In [153]:
getOdds(getElo('Qatar'), getElo('Senegal'))

0.5882899718631628

In [155]:
getOdds(getElo('Australia'), getElo('Tunisia'))

0.5306626091374588

In [156]:
getOdds(getElo('Canada'), getElo('Morocco'))

0.5163041952634231

In [147]:
knockouts = [('Netherlands', 'United States'), ('Ecuador', 'England'), ('Argentina', 'Denmark'), ('France', 'Mexico'), 
            ('Spain', 'Croatia'), ('Germany', 'Belgium'), ('Brazil', 'Uruguay'), ('Switzerland', 'Portugal')]
winners = []
for i in knockouts:
    country1 = i[0]
    country2 = i[1]
    elo1 = getElo(country1)
    elo2 = getElo(country2)
    monte_carlo_knockout(1000)
winners

['Netherlands',
 'England',
 'Argentina',
 'France',
 'Spain',
 'Belgium',
 'Brazil',
 'Portugal']

In [157]:
quarters = [('Netherlands', 'Argentina'), ('Spain', 'Brazil'), ('England', 'France'), ('Belgium', 'Portugal')]
winners = []
for i in quarters:
    country1 = i[0]
    country2 = i[1]
    elo1 = getElo(country1)
    elo2 = getElo(country2)
    monte_carlo_knockout(1000)
winners

['Argentina', 'Brazil', 'France', 'Belgium']

In [159]:
semis = [('Brazil', 'Argentina'), ('France', 'Belgium')]
winners = []
for i in semis:
    country1 = i[0]
    country2 = i[1]
    elo1 = getElo(country1)
    elo2 = getElo(country2)
    monte_carlo_knockout(1000)
winners

['Brazil', 'Belgium']

In [160]:
finals = [('Belgium', 'Brazil')]
winners = []
for i in finals:
    country1 = i[0]
    country2 = i[1]
    elo1 = getElo(country1)
    elo2 = getElo(country2)
    monte_carlo_knockout(1000)
winners

['Brazil']

In [162]:
third = [('Argentina', 'France')]
winners = []
for i in third:
    country1 = i[0]
    country2 = i[1]
    elo1 = getElo(country1)
    elo2 = getElo(country2)
    monte_carlo_knockout(1000)
winners

['Argentina']